*,
:before,
:after {
  box-sizing: border-box;
  box-shadow: rgb(156, 156, 156) 5px;
}

TextA
{
  box-sizing: border-box;
}


a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 40%;
}

h1 {
  text-align: center;
}



.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

textarea {
  background: none;
  background-color: rgb(255, 255, 255);
  color: #000;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
textarea:focus {
  outline: none;
  box-shadow: rgb(156, 156, 156) 5px;
background-color: rgb(216, 216, 216);

}

textarea:focus ~ .bar:before {
  width: 100%;

}

textarea:focus ~ .textarea:before {

box-shadow: rgb(156, 156, 156) 5px;
background-color: rgb(143, 143, 143);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: rgb(12, 158, 217);
  transition: 300ms ease all;
  left: 0%;
}

.hide{
  display : none
}
.show{
 
  display : block

}



.buttonsDown{
  width:80px;
  height:30px;
  background:#000;
  float:right;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 22px;
  vertical-align: top;
  cursor: pointer;
}